[mysqld]
default_storage_engine = innodb
binlog_format = ROW
innodb_autoinc_lock_mode=2

wsrep_on = ON
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://172.17.0.6,172.17.0.7,172.17.0.8"
wsrep_cluster_name="dats42-cluster"
wsrep_sst_method = rsync
wsrep_new_cluster

wsrep_node_address="172.17.0.6"
wsrep_node_name="db1"
