[mysqld]
default_storage_engine = innodb
binlog_format = ROW
innodb_autoinc_lock_mode=2

wsrep_on = ON
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://DB1_HOST,DB2_HOST,DB3_HOST"
wsrep_cluster_name="dats42-cluster"
wsrep_sst_method = rsync

wsrep_node_address="DB3_HOST"
wsrep_node_name="DB3_HOST_NAME"
